[submodule "web3dev_nft_collection_backend"]
	path = backend
	url = https://github.com/JG-Lembo/web3dev_nft_collection_backend.git
[submodule "web3dev_nft_collection_frontend"]
	path = frontend
	url = https://github.com/JG-Lembo/web3dev_nft_collection_frontend.git
